<div class="input-group my-2">
    <span class="input-group-text bg-light"><i class="bi bi-search"></i></span>
    <input type="text" class="form-control bg-light" placeholder="Search" #filter 
        (keyup)="filterTrips(filter.value, startDate.value, endDate.value, minPrice.value, maxPrice.value)">
    <button class="btn btn-outline-danger" 
        (click)="filter.value = ''; startDate.value = ''; endDate.value = ''; filterTrips(filter.value, startDate.value, endDate.value, minPrice.value, maxPrice.value)"><i class="bi bi-x"></i></button>
</div>

<div class="input-group my-2">
    <span class="input-group-text bg-light">Between</span>
    <input type="date" class="form-control bg-light" #startDate 
        (change)="filterTrips(filter.value, startDate.value, endDate.value, minPrice.value, maxPrice.value)">
    <span class="input-group-text bg-light">-</span>
    <input type="date" class="form-control bg-light" #endDate 
        (change)="filterTrips(filter.value, startDate.value, endDate.value, minPrice.value, maxPrice.value)">
</div>

<div class="input-group my-2">
    <span class="input-group-text bg-light">Min price</span>
    <input type="number" class="form-control bg-light" [placeholder]="calculatePrice(lowestPrice)"
        #minPrice (keyup) ="filterTrips(filter.value, startDate.value, endDate.value, minPrice.value, maxPrice.value)">
    <span class="input-group-text bg-light">Max price</span>
    <input type="number" class="form-control bg-light" [placeholder]="calculatePrice(highestPrice)"
        #maxPrice (keyup) ="filterTrips(filter.value, startDate.value, endDate.value, minPrice.value, maxPrice.value)">
</div>

<section *ngFor="let trip of trips" 
    [ngClass]="trip.price === lowestPrice ? 'card d-flex flex-column p-2 my-4 shadow border-danger' 
            : trip.price === highestPrice ? 'card d-flex flex-column p-2 my-4 shadow border-success' 
            : 'card d-flex flex-column p-2 my-4 shadow'">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-evenly m-3">
        
        <img [routerLink]="['/trips', trip.id]"  [src]="trip.imgs[0]" class="rounded-circle card-img-circle pointer shadow" alt="..." loading="lazy">
        
        <div class="d-flex flex-column align-content-start mx-4 mt-3">
            <app-rating [trip]="trip"></app-rating>
            
            <a [routerLink]="['/trips', trip.id]" class="fs-3 text-decoration-none text-dark pointer">{{ trip.name | uppercase}}</a>
            
            <p class="fs-5 fw-bold">{{trip.location | uppercase}}</p>
            
            <p class="fs-5 fw-lighter">{{trip.startDate.toDate() | date:'dd.MM.yyyy'}} - {{trip.endDate.toDate() | date:'dd.MM.yyyy'}}</p>    
                
            Price: {{calculatePrice(trip.price) | number : '1.2-2'}} {{currency.name}}
            
            <div *ngIf="trip.availableTickets > 0 else noTrips" class="d-flex flex-column justify-content-between">
                <span [ngClass]="trip.availableTickets < 4 ? 'text-warning fw-bold fs-4 my-2' : 'text-dark fs-4 my-2'">
                    Tickets available: {{trip.availableTickets}} 
                </span>

                <div class="d-flex my-3 justify-content-center">
                    <a *ngIf="+counter.value > 0" class="btn btn-light btn-outline-dark mx-2 px-4 py-3 d-flex justify-content-center fs-4" (click)="counter.value = decrementOrderCount(+counter.value)">-</a>
                    <input type="number" class="col-3 rounded counter text-center" value="1" min="0" max={{trip.availableTickets}} #counter disabled="disabled">
                    <a *ngIf="+counter.value < trip.availableTickets" class="btn btn-light btn-outline-dark mx-2 px-4 py-3 d-flex justify-content-center fs-4" (click)="counter.value = incrementOrderCount(+counter.value, trip)">+</a>
                    <a class="btn btn-light btn-outline-dark mx-2 px-4 py-3 d-flex justify-content-center"
                    (click)="addItemToCart(trip!, +counter.value)">
                        <span class="bi bi-cart-plus fs-4"></span>
                    </a>
                </div>
            </div>

        </div>  
    </div>

    <p class="fs-5 fw-bold mx-3 mt-4">Description</p>
    <p class="mx-3">{{trip.shortDescription}}</p>
</section>

@if(userId){
    <app-cart [type]="'float'"></app-cart>
}
  
<ng-template #loading>
<p class="my-4">Loading&hellip;</p>
</ng-template>

<ng-template #noTrips>
    <p class="text-danger fw-bold fs-4 my-2">SOLD OUT</p>
</ng-template>
