<nav class="navbar navbar-expand-md navbar-light bg-light p-3 sticky-top">
  <a class="navbar-brand" routerLink="home">Trip Consultor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between align-items-end" id="navbar">
    <div class="conatiner navbar-nav text-uppercase w-50">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        <a class="nav-link" routerLink="trips" routerLinkActive="active">Trips</a>
        <a class="nav-link" routerLink="admin" routerLinkActive="active">Admin</a>
    </div>

    <div class="d-flex justify-content-start align-items-center nav-link">
      <button *ngIf="(authState$ | async) === null" class="nav-link btn btn-light p-2" routerLink="login">Login</button>
      <div *ngIf="authState$ | async as user" class="dropdown d-flex align-items-end">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person"></i>
            {{ user.displayName }}
          </button>
          <div class="dropdown-menu dropleft" aria-labelledby="dropdownMenu">
            <button class="dropdown-item" routerLink="history">History</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item text-danger" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ currency.name }}
        </button>
        <div class="dropdown-menu dropleft" aria-labelledby="dropdownMenu">
          <button class="dropdown-item" (click)="setCurrency('USD')">USD</button>
          <button class="dropdown-item" (click)="setCurrency('EUR')">EUR</button>
          <button class="dropdown-item" (click)="setCurrency('GBP')">GBP</button>
          <button class="dropdown-item" (click)="setCurrency('PLN')">PLN</button>
        </div>
      </div>
      <a *ngIf="authState$ | async" class="nav-link p-2" routerLink="cart">
        <i class="bi bi-cart"></i>
        <span>
          0 {{ currency.name }} | 0
        </span>
      </a>
    </div>
  </div>
</nav>

<div class="main container p-5 pt-3">
  <router-outlet></router-outlet>
</div>

<div class="bg-light col-12 p-5 pt-3 fixed-bottom">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
      <p class="col-md-4 mb-0 text-muted">© 2024 Trip Consultor</p>
    
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a routerLink="about" class="nav-link px-2 text-muted">About Us</a></li>
        <li class="nav-item"><a routerLink="trips" class="nav-link px-2 text-muted">Trips</a></li>
        <li class="nav-item"><a routerLink="cart" class="nav-link px-2 text-muted">Cart</a></li>
      </ul>
    </footer>
  </div>
</div>

<ng-template #login>
  <div class="d-flex justify-content-end align-items-center">
    <button class="nav-link btn btn-light p-2" routerLink="login" routerLinkActive="active">Login</button>
  </div>
</ng-template>