<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Welcome to Trip Consultor</h1>
      <h3 class="text-center  mt-3">Contact us:</h3>

      <div class="d-flex flex-column flex-lg-row justify-content-evenly align-items-center">
        <div class="d-flex flex-row">
          <div class="p-2">
            <i class="bi bi-telephone"></i>
          </div>
          <div class="p-2">
            <p>+48 123 456 789</p>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-2">
            <i class="bi bi-envelope"></i>
          </div>
          <div class="p-2">
            <p>info&#64;tripconsultor.com
              <a href="mailto: info@tripconsultor.com" class="text-dark"></a>
            </p>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-2">
            <i class="bi bi-facebook"></i>
          </div>
          <div class="p-2">
            <p><a href="https://www.facebook.com/tripconsultor" class="text-dark" style="text-decoration: none;">&#64;tripconsultor</a></p>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-2">
            <i class="bi bi-instagram"></i>
          </div>
          <div class="p-2">
            <p><a href="https://www.instagram.com/tripconsultor/" class="text-dark" style="text-decoration: none;">&#64;tripconsultor</a></p>
          </div>
        </div>
      </div>

  
      <h5 class="text-center mt-5">You can find us there:</h5>
      <div class="d-flex flex-column flex-md-row justify-content-center text-center">
        <div class="p-2">
          <i class="bi bi-geo-alt"></i>
        </div>
        <div class="p-2">
          <p>Unity Centre, 2nd floor, Aleksandra Lubomirskiego 20, 31-509 Kraków</p>
        </div>
      </div>
    </div>
    <iframe class="pl-5 pr-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d838.3360699404158!2d19.95840195158397!3d50.06742029903735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b18baad9893%3A0x2f48518b6b3f5da7!2sUNITY%20CENTRE!5e0!3m2!1spl!2spl!4v1704826754368!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
