<a routerLink="/trips" class="btn mb-3"><i class="bi bi-arrow-left"> Return to catalogue</i></a>

<carousel>
    <slide *ngFor="let img of trip.imgs">
        <img [src]="img" class="carousel-img rounded mb-3">
    </slide>
</carousel>

<app-rating [ratings]="trip.ratings"></app-rating>

<span class="fs-1 text-decoration-none text-dark mt-4">{{ trip.name | uppercase}}</span>
<p class="fs-3 fw-bold">{{trip.location | uppercase}}</p>

<p class="fs-4 fw-lighter">{{trip.startDate.toDate() | date:'dd.MM.yyyy'}} - {{trip.endDate.toDate() | date:'dd.MM.yyyy'}}</p>

<div *ngIf="currency$ | async as currency">
    <span *ngIf="calculatePrice$(trip.price) | async as calculatedPrice" class="fs-4">
        Price: {{calculatedPrice | number : '1.2-2'}} {{currency}}
    </span>
</div>

<p class="fs-5 fw-bold mt-4">Description</p>
<p class="fs-6">{{trip.description}}</p>

<div [innerHtml]="trip.mapSrc | safeHtml" class="row"></div>

<p class="fs-5 fw-bold mt-4">Reviews</p>
<div *ngFor="let review of trip.reviews">
    <p class="fs-5">{{review.name}}</p>
    <p class="fs-6 fw-lighter">{{review.nick}}, {{review.date.toDate() | date:'dd.MM.yyyy'}}</p>
    <p class="fs-6">{{review.text}}</p>
    <hr>
</div>


